.add-cart {
  &:focus {
    outline: transparent;
  }
}

.add-cart__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: auto;

  padding-top: 28px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 46px;

  background-color: $basic-white;

  box-shadow: 0 5px 10px #c6c6c6, inset 1px -1px 0 0 #c6c6c6, inset -1px 1px 0 0 #c6c6c6;

  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 38px;
    padding-right: 108px;
    padding-left: 108px;
    width: 566px;
  }
}

.add-cart__title {
  margin-top: 0;
  margin-bottom: 16px;

  padding-left: 57px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
    padding-left: 0;

    font-size: 30px;
    line-height: 57px;
    text-align: center;
    letter-spacing: -0.007em;
  }
}

.add-cart__form-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
