.button {
  padding-top: 12px;
  padding-bottom: 12px;

  font-family: "OpenSans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  color: $basic-grey;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: transparent;

  border: 2px solid $basic-grey;

  box-sizing: border-box;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $basic-white;
    background-color: $basic-grey;
  }

  &:active {
    color: rgba($basic-white, 0.3%);
  }
}
