.category-product__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.category-product__item {
  position: relative;
  display: flex;

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    display: none;

    width: 100%;
    height: 6px;
  }

  &:nth-child(1) {
    background-color: $fancy-color;


    &:hover,
    &:focus {
      top: -5px;
      background-color: #59d5bc;

      &::after {
        display: block;
        background-color: #59d5bc;
      }
    }
  }

  &:nth-child(2) {
    background-color: $fancy-color-darker;

    &:hover,
    &:focus {
      top: -5px;
      background-color: #46c1ae;

      &::after {
        display: block;
        background-color: #46c1ae;
      }
    }
  }
}

.category-product__item-inner {
  display: flex;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
}

.category-product__link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 17px;
  padding-right: 30px;
  padding-bottom: 25px;
  padding-left: 30px;
  width: 100%;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $basic-white;

  text-decoration: none;

  box-sizing: border-box;

  &:hover,
  &:focus {
    .category-product__icon {
      fill: rgba($fancy-color-dark, 0.7%);
    }
  }

  &:active {
    .category-product__icon {
      fill: rgba($fancy-color-dark, 0.3%);
    }
  }
}

.category-product__icon {
  position: relative;
  fill: rgba($fancy-color-dark, 0.5%);
}

.category-product__icon--decor {
  top: 6px;
  right: 6px;
}

.category-product__icon--toys {
  top: 3px;
  right: -3px;
}
