.copyright {
  display: flex;
  justify-content: center;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: $basic-black;
  text-decoration: none;

  &:hover,
  &:focus {
    .copyright__icon {
      fill: #46c1ae;
    }
  }

  &:active {
    .copyright__icon {
      opacity: 0.3;
    }
  }
}

.copyright__icon {
  margin-left: 27px;
  fill: $fancy-color;
}
