.main-nav--active {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 21px;
  padding-bottom: 0;

  .main-nav__logo {
    align-self: center;
  }

  .main-nav__toggle {
    background-image: url("../img/decor/toggle-menu-cross.svg");
  }

  .main-nav__list {
    display: block;
  }

  .main-nav__user-menu {
    display: block;
  }
}

.main-nav--nojs {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  display: none;

  margin-top: 18px;
  margin-bottom: 0;
  padding: 0;
  width: 100%;

  list-style: none;
}

.main-nav__item {
  display: flex;

  &::before {
    content: "";
    position: absolute;
    left: -30px;

    width: 100vw;
    height: 1px;

    background-color: #ececec;
  }
}

.main-nav__item--hidden {
  display: none;
}

.main-nav__link {
  padding-top: 28px;
  padding-bottom: 27px;
  padding-left: 45px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;

  text-decoration: none;

  @include status;
}

.main-nav__toggle {
  position: absolute;
  top: 23px;
  right: -4px;

  padding: 15px;

  background-color: transparent;
  background-image: url("../img/decor/toggle-menu-closed.svg");
  background-position: center;
  background-repeat: no-repeat;

  border: none;
  box-sizing: border-box;
}

.main-nav__user-menu {
  display: none;
  width: 100%;
}
