.order-fieldset {
  &:nth-of-type(3) {
    padding-top: 45px;
    padding-bottom: 49px;

    .order-fieldset__legend {
      padding-top: 21px;
    }
  }
}

.order-fieldset--fill {
  @media (min-width: $tablet-width) {
    background-color: #f1f1f1;
  }
}

.order-fieldset--contacts {
  padding-top: 6px;

  .order-fieldset__legend {
    margin-bottom: 7px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;

    .order-fieldset__legend {
      padding-top: 23px;
    }
  }
}

.order-fieldset--textarea {
  padding-top: 8px;
  padding-bottom: 12px;

  .order-fieldset__legend {
    margin-bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 53px;

    .order-fieldset__legend {
      padding-top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 48px;
  }
}

.order-fieldset__wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 4fr 1fr;
  }
}

.order-fieldset__wrapper--flex {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-left: 225px;
    padding-right: 225px;
  }
}

.order-fieldset__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-template-columns: 262px 262px 262px;
    gap: 0;
  }
}

.order-fieldset__list--color {
  .order-fieldset__item {
    margin-bottom: 41px;
  }

  @media (min-width: $tablet-width) {
    .order-fieldset__item {
      margin-bottom: 57px;

      &:last-child {
        margin-bottom: 57px;
      }
    }
  }
}

.order-fieldset__list--flex {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.order-fieldset__list--fcs {
  .order-fieldset__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .order-fieldset__item {
      flex-direction: row;
      margin-bottom: 18px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }
}

.order-fieldset__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.order-fieldset__legend {
  position: relative;
  display: flex;
  align-items: center;

  margin-bottom: 33px;
  padding: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $fancy-color;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    right: 0;

    width: 77%;
    height: 1px;

    background-color: $fancy-color;
  }

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 61px;
  }
}

.order-fieldset__label {
  position: relative;

  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  color: $basic-black;

  cursor: pointer;


  @media (min-width: $tablet-width) {
    font-size: 19px;
    margin-right: 25px;
  }
}

.order-fieldset__label--radio {
  margin-bottom: 20px;
  padding-top: 3px;
  padding-left: 60px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 40px;
    height: 40px;

    border: 2px solid $basic-grey;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    left: 12px;

    display: none;

    width: 16px;
    height: 16px;

    background-color: $fancy-color;

    border-radius: 50%;
  }

  &:hover,
  &:focus {
    &::before {
      border-color: $fancy-color;
    }

    &:active {
      &::before {
        border-color: transparentize($basic-grey, 0.7);
      }
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 80px;

    &::before {
      left: 3px;

      width: 50px;
      height: 50px;
    }

    &::after {
      left: 17px;

      width: 22px;
      height: 22px;
    }
  }
}

.order-fieldset__radio:focus + .order-fieldset__label--radio {
  &::before {
    outline: $fancy-color-dark solid 3px;
  }
}

.order-fieldset__radio:checked + .order-fieldset__label--radio {
  &::after {
    display: block;
  }
}

.order-fieldset__label--checkbox {
  margin-bottom: 41px;
  padding-top: 2px;
  padding-left: 60px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 38px;
    height: 38px;

    border: 2px solid $basic-grey;

    box-sizing: border-box;
  }

  &::after {
    content: "";
    position: absolute;
    left: 8px;

    display: none;

    width: 23px;
    height: 16px;

    background-image: url("../img/decor/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &:hover,
  &:focus {
    &::before {
      border-color: $fancy-color;
    }

    &:active {
      &::before {
        border-color: transparentize($basic-grey, 0.7);
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-left: 80px;

    &::before {
      width: 50px;
      height: 50px;
    }

    &::after {
      width: 32px;
      height: 22px;
    }
  }
}

.order-fieldset__checkbox:focus + .order-fieldset__label--checkbox {
  &::before {
    outline: $fancy-color-dark solid 3px;
  }
}

.order-fieldset__checkbox:checked + .order-fieldset__label--checkbox {
  &::after {
    display: block;
  }
}

.order-fieldset__input {
  z-index: 1;
  width: 100%;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  margin-bottom: 23px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;

  color: $basic-grey;

  background-color: transparent;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid $basic-black;

  box-sizing: border-box;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::placeholder {
    color: transparentize($basic-grey, 0.7);
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $fancy-color;

    + .order-fieldset__icon {
      fill: $fancy-color;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 18px;

    font-size: 19px;
  }
}

.order-fieldset__input--textarea {
  width: 100%;
  min-height: 142px;
  padding-top: 17px;
  padding-right: 17px;
  padding-bottom: 17px;
  padding-left: 17px;

  color: $basic-black;

  border: 2px solid $basic-grey;
  border-radius: 0;

  resize: none;

  outline: transparent;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
  }
}


.order-fieldset__icon {
  position: absolute;
  right: 2px;

  fill: transparentize($basic-black, 0.8);

  @media (min-width: $tablet-width) {
    top: 22px;
    right: 22px;
  }

  @media (min-width: $desktop-width) {
    right: 4px;
  }
}

.order-fieldset__icon--phone {
  top: 9px;
  right: 7px;

  @media (min-width: $tablet-width) {
    top: 18px;
    right: 26px;
  }

  @media (min-width: $desktop-width) {
    right: 8px;
  }
}

.order-fieldset__legend--mail {
  margin-bottom: 8px;

  &::before {
    width: 70%;
  }
}

.order-fieldset__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
