.order-form__description {
  font-size: 13px;
  line-height: 24px;

  color: $basic-grey;
}

.order-form__fieldset {
  border: none;
}

.order-form__legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $fancy-color;
  text-transform: uppercase;
}

.order-form__label {
  position: relative;

  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  color: $basic-black;

  cursor: pointer;
}

.order-form__label--radio {
  padding-left: 60px;
  margin-bottom: 24px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 42px;
    height: 42px;

    border: 2px solid $basic-grey;
    border-radius: 50%;

  }

  &::after {
    content: "";
    position: absolute;
    left: 13px;

    display: none;

    width: 16px;
    height: 16px;

    background-color: $fancy-color;

    border-radius: 50%;
  }

  &:hover,
  &:focus {
    &::before {
      border-color: $fancy-color;
    }

    &:active {
      &::before {
        border-color: rgba($basic-grey, 0.3%);
      }
    }
  }
}

.order-form__input--radio:checked + .order-form__label--radio {
  &::after {
    display: block;
  }
}


.order-form__label--checkbox {
  margin-bottom: 42px;
  padding-left: 60px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 38px;
    height: 38px;

    border: 2px solid $basic-grey;

    box-sizing: border-box;
  }

  &::after {
    content: "";
    position: absolute;
    left: 8px;

    display: none;

    width: 23px;
    height: 16px;

    background-image: url("../img/decor/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &:hover,
  &:focus {
    &::before {
      border-color: $fancy-color;
    }

    &:active {
      &::before {
        border-color: rgba($basic-grey, 0.3%);
      }
    }
  }
}

.order-form__input--checkbox:checked + .order-form__label--checkbox {
  &::after {
    display: block;
  }
}
