.order-form__wrapper {
  @include container;
}

.order-form__description {
  font-size: 13px;
  line-height: 24px;

  color: $basic-grey;
}

.order-form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.order-form__legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $fancy-color;
  text-transform: uppercase;
}

.order-form__item {
  position: relative;
  display: flex;
  align-items: center;
}

.order-form__label {
  position: relative;

  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  color: $basic-black;

  cursor: pointer;
}

.order-form__label--radio {
  padding-left: 60px;
  margin-bottom: 24px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 42px;
    height: 42px;

    border: 2px solid $basic-grey;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    left: 13px;

    display: none;

    width: 16px;
    height: 16px;

    background-color: $fancy-color;

    border-radius: 50%;
  }

  &:hover,
  &:focus {
    &::before {
      border-color: $fancy-color;
    }

    &:active {
      &::before {
        border-color: rgba($basic-grey, 0.3%);
      }
    }
  }
}

.order-form__radio:checked + .order-form__label--radio {
  &::after {
    display: block;
  }
}


.order-form__label--checkbox {
  margin-bottom: 42px;
  padding-left: 60px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 38px;
    height: 38px;

    border: 2px solid $basic-grey;

    box-sizing: border-box;
  }

  &::after {
    content: "";
    position: absolute;
    left: 8px;

    display: none;

    width: 23px;
    height: 16px;

    background-image: url("../img/decor/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &:hover,
  &:focus {
    &::before {
      border-color: $fancy-color;
    }

    &:active {
      &::before {
        border-color: rgba($basic-grey, 0.3%);
      }
    }
  }
}

.order-form__checkbox:checked + .order-form__label--checkbox {
  &::after {
    display: block;
  }
}

.order-form__input {
  z-index: 1;
  width: 100%;
  padding-top: 16px;
  padding-right: 30px;
  padding-bottom: 16px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;

  color: $basic-grey;

  background-color: transparent;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid $basic-black;

  box-sizing: border-box;

  &::placeholder {
    color: rgba($basic-grey, 0.3%);
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $fancy-color;

    + .order-form__icon {
      fill: $fancy-color;
    }
  }
}

.order-form__icon {
  position: absolute;
  right: 0;

  fill: rgba($basic-black, 0.2%);
}

.order-form__input--textarea {
  width: 100%;
  min-height: 142px;
  padding-top: 17px;
  padding-right: 17px;
  padding-bottom: 17px;
  padding-left: 17px;

  color: $basic-black;

  border: 2px solid $basic-grey;
  border-radius: 0;

  resize: none;

  outline: transparent;
}

.order-form__note {
  font-size: 14px;
  line-height: 16px;
}

.order-form__button {
  width: 100%;
}
