.page-main__wrapper {
  @include container;
}

.page-main__header {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 177px;
  background-color: $bg-color;
}

.page-main__title {
  margin: 0;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.page-main__promo-product {
  padding-top: 31px;
  padding-bottom: 36px;
}

.page-main__features {
  position: relative;
  padding-top: 31px;
  padding-bottom: 36px;

  box-sizing: border-box;
}

.page-main__reviews {
  padding-top: 21px;
  padding-bottom: 45px;
}

.page-main__contacts {
  position: relative;
  padding-top: 44px;

  box-sizing: border-box;
}

.page-main__order-form {
  padding-top: 17px;
  padding-bottom: 55px;
}

.page-main__catalog {
  padding-top: 30px;
  padding-bottom: 58px;
}
