.page-main__wrapper {
  @include container;
}

.page-main__header {
  background-color: $bg-color;
}

.page-main__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.page-main__promo-product {
  padding-top: 31px;
  padding-bottom: 36px;
}

.page-main__features {
   padding-top: 31px;
}
