.page-footer {
  padding-top: 20px;
  padding-bottom: 22px;
  background-color: $bg-color;
}

.page-footer__wrapper {
  @include container;
}

.page-footer__logo {
  display: none;
}

.page-footer__socials {
  margin-bottom: 16px;
}

.page-footer__copyright {
  padding-top: 29px;
}
