.page-main__wrapper {
@include container;
}

.page-main__header {
  background-color: $bg-color;
}

.page-main__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
