.product-video {
  border: 1px solid #ececec;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba($basic-black, 0.1%);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($basic-black, 0.1%);
  }
}

.product-video__title {
  padding-left: 90px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;
}

.product-video__movie {
  display: none;
}


.product-video__content {
  padding-top: 35px;
  padding-right: 34px;
  padding-bottom: 33px;
  padding-left: 34px;
}

.product-video__description {
  margin-top: 0;
  margin-bottom: 41px;

  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.008em;
}

.product-video__button {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 100%;
}
