.promo-product__wrapper {
  @include container;
}

.promo-product__title {
  margin-top: 0;
  margin-bottom: 4px;

  @include section-title;
}

.promo-product__subtitle {
  margin-top: 0;
  margin-bottom: 18px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $fancy-color;

  text-transform: uppercase;
}

.promo-product__description {
  font-size: 15px;
  line-height: 24px;
  color: $basic-grey;
}

.promo-product__description-list {
  margin-top: 15px;
  margin-bottom: 33px;
}

.promo-product__image {
  display: flex;
}

.promo-product__price {
  margin-top: 25px;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $basic-grey;

  text-align: center;
}

.promo-product__button {
  display: block;
  width: 100%;
}
