.reviews__wrapper {
  @include container;
}

.reviews__title {
  @include section-title;
}

.reviews__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reviews__text {
  color: $basic-grey;
}

.reviews__button {
  display: flex;
  justify-content: center;
  width: 100%;
}
