.slider {
  overflow: hidden;
}

.slider__item {
  display: none;
}

.slider__item--active {
  display: block;

  animation-name: position, fade;
  animation-duration: 0.5s, 0.5s;
}

.slider__toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 29px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 0;
    width: 175px;
  }
}

.slider__toggle {
  display: flex;
  width: 100%;
  height: 52px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url("../img/decor/slider-arrow.svg");

  border: 1px solid #ececec;

  cursor: pointer;

  @include status;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.slider__toggle--next {
  border-left: none;
  transform: rotate(180deg);
}


@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes position {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0);
  }
}
