.user-menu__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-menu__item {
  position: relative;
  display: flex;

  &::before {
    content: "";
    position: absolute;
    left: -30px;

    width: 100vw;
    height: 1px;

    background-color: #ececec;
  }
}

.user-menu__link {
  display: flex;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;

  text-decoration: none;

  fill: rgba($basic-black, 0.2%);

  &:hover,
  &:focus {
    color: rgba($basic-black, 0.6%);
    fill: $fancy-color;
  }

  &:active {
    color: rgba($basic-black, 0.3%);
    fill: rgba($fancy-color, 0.3%);
  }
}

.user-menu__icon {
  margin-right: 26px;
}
