@mixin container {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
}

@mixin status {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@mixin section-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;
}
