@mixin container {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;

  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    padding-right: 50px;
    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
  }
}

@mixin status {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@mixin section-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
