$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #444444;
$bg-color: #f1f1f1;
$fancy-color: #63d1bb;
$fancy-color-darker: #56c3b2;
$fancy-color-dark: #149080;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 320px;
